@keyframes anim-top {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes anim-bottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes anim-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes anim-right {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.fade-from-top {
  position: relative;
  transform: translateY(-100%);
  opacity: 0;
  animation: anim-top 1s ease-in-out forwards;
  animation-delay: var(--delay);
}

.fade-from-bottom {
  position: relative;
  transform: translateY(100%);
  opacity: 0;
  animation: anim-bottom 1s ease-in-out forwards;
  animation-delay: var(--delay);
}

.fade-from-left {
  position: relative;
  transform: translateX(-100%);
  opacity: 0;
  animation: anim-left 1s ease-in-out forwards;
  animation-delay: var(--delay);
}

.fade-from-right {
  position: relative;
  transform: translateX(100%);
  opacity: 0;
  animation: anim-left 1s ease-in-out forwards;
  animation-delay: var(--delay);
}