.hero {
  height: 100vh;
  height: 100dvh;

  &__content {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    max-width: $desktop;
    font-size: 7.2rem;
    font-weight: 480;
    line-height: 7rem;

    @media screen and (max-width: $desktop) {
      padding-left: 1.5rem;
    }

    @media screen and (max-width: $mobile) {
      font-size: 3.2rem;
      line-height: 3rem;
    }
  }

  &__name {
    font-weight: 600;
    width: fit-content;
    position: relative;
    transition: 0.1s;
    color: white;
  }

  &__surname {
    margin-top: 2rem;
    font-weight: 600;
    line-height: 9rem;
    position: relative;
    transition: 0.1s;
    width: fit-content;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;

    @media screen and (max-width: $mobile) {
      line-height: 5rem;
    }
  }

  @media screen and (max-width: $tablet) {
    &__title {
      position: relative;
      top: -25vh;
    }
  }

  &__subtitle {
    width: fit-content;
    margin-top: 3rem;

    &-text {
      color: #ff2d75;
      font-size: 3.2rem;
      line-height: 4rem;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      border-right: 4px solid;
      animation: typing 2s steps(var(--i)),
        cursor 0.4s step-end infinite alternate;

      @media screen and (max-width: $mobile) {
        font-size: 1.6rem;
        line-height: 2rem;
      }
    }
  }

  &__image {
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 40vh;
    right: 0;
    display: flex;
    justify-content: center;

    @media screen and (min-width: $tablet) {
      right: -15vw;
    }

    &-img {
      backdrop-filter: blur(1px);
      border-radius: 50%;
      box-shadow: 0 0 6px 10px #4fc3dc44, 0 0 5rem $light-blue,
        0 0 10rem $light-blue;
      animation: changeBorder 6s ease-in-out infinite;
      background-position: center;
      background-size: cover;
      overflow: hidden;

      &.loaded img {
        opacity: 1;
      }
    }

    img {
      height: 50vh;
      opacity: 0;
      transition: opacity 200ms ease-in-out;
      object-position: center;
      object-fit: cover;
    }
  }
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes changeBorder {
  50% {
    box-shadow: 0 0 6px 10px #ff2d7544, 0 0 5rem $red, 0 0 10rem $red;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}
