.language-selector {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 3rem;
  width: 100vw;
  z-index: 10;
  user-select: none;

  &__content {
    width: 100%;
    // max-width: $desktop;
    display: flex;
    justify-content: flex-end;
  }

  &__flag {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    align-items: center;
    right: 5rem;
    padding: 2rem;
    border-radius: 15px;
    z-index: 10;

    &.open {
      background: $white;
    }
    
    @media screen and (max-width: $tablet) {
      right: 1.5rem;
    }
  }

  img {
    height: 3rem;
    width: 4.5rem;
    cursor: pointer;
  }

  &__dropdown {
    position: absolute;
    top: 80%;
    right: 50%;
    background: $dark-blue;
    border-radius: 1.5rem 0 1.5rem 1.5rem;
  }

  &__item {
    padding: 1rem 2rem;

    &:hover {
      color: white;
    }
  }
}